.burger-menu {
    width: 30px;
    height: 30px;
    position: relative;
    margin: 0 auto;
    cursor: pointer;
    transition: 0.3s;
}

.burger-menu__line {
    display: block;
    position: absolute;
    height: 10px;
    width: 100%;
    opacity: 1;
    left: 0;
    transition: 0.2s;

    &:nth-child(1) {
        top: 0px;
    }
    
    &:nth-child(2) {
        top: calc(50% - 1.5px);
    }
    
    &:nth-child(3) {
        bottom: 0;
    }
}



#burger-menu.open span:nth-child(1) {
    top: calc(50% - 1.5px);
    transform: rotate(45deg);
}

#burger-menu.open span:nth-child(2) {
    opacity: 0;
}

#burger-menu.open span:nth-child(3) {
    bottom: calc(50% - 1.5px);
    transform: rotate(-45deg);
}