.burger {
    position: relative;
    width: 24px;
    height: 20px;
    background: transparent;
    padding: 0;
    border: none;
}

    .burger_closed {

        .burger__line:nth-child(2) {
            opacity: 0;
        }

        .burger__line:first-child {
            top: calc(50% - 1.5px);
            transform: rotate(45deg);
        }

        .burger__line:last-child {
            bottom: calc(50% - 1.5px);
            transform: rotate(-45deg);
        }
    }

    .burger__line {
        position: absolute;
        left: 0;
        width: 100%;
        height: 3px;
        background: #fff;
        transition: 0.3s;
    }

    .burger__line:first-child {
        top: 0;
    }

    .burger__line:nth-child(2) {
        top: calc(50% - 1.5px);
    }

    .burger__line:last-child {
        bottom: 0;
    }