.burger {

    display: none;

    @media (max-width: 768px) {
        display: flex;
        margin-left: auto;
        position: relative;
        width: 24px;
        height: 20px;
        background: transparent;
        padding: 0;
        border: none;
    }


    &__btn {
        padding: 0;
        border: 0;
        width: 24px;
        height: 20px;
        position: relative;
        top: 20px;
        right: 37px;
        display: block;
        z-index: 4;
        background: transparent;
    }

    &__line {
        position: absolute;
        left: 0;
        width: 100%;
        height: 3px;
        background: #fff;
        transition: 0.3s;

        &:first-child {
            top: 0;
        }

        &:nth-child(2) {
            top: calc(50% - 1.5px);
        }

        &:last-child {
            bottom: 0;
        }
    }

    &__menu {
        width: 30px;
        height: 30px;
        position: relative;
        margin: 0 auto;
        cursor: pointer;
        transition: 0.3s;
    }

    &__nav {
        padding: 0;
        position: fixed;
        right: -100%;
        top: 0;
        z-index: 3;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        background-color: var(--black);
        overflow-y: auto;
        transition: 0.8s;
    }

    &__link {
        padding: 30px 20px;
        font-family: 'Open Sans';
        font-weight: 600;
        font-size: 14px;
        line-height: 19px;
        color: #FFFFFF;
        text-decoration: none;

        &:hover {
            background-color: var(--accent);
            color: #FFFFFF;
        }
    }
}


#burger__menu.open .burger__line:nth-child(2) {
    opacity: 0;
}

#burger__menu.open .burger__line:first-child {
    top: calc(50% - 1.5px);
    transform: rotate(45deg);
}


#burger__menu.open .burger__line:last-child {
    bottom: calc(50% - 1.5px);
    transform: rotate(-45deg);
}


#burger__menu.open .burger__nav {
    right: 0;
    transition: 0.3s;
}