
.prime-btn {
    display: flex;
    color: #FFFFFF;
    border: 2px solid #fff;
    justify-content: center;
    font-family: 'Open Sans';
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    padding: 20px 0;
    text-decoration: none;
    transition: 1s;
    cursor: pointer;

    &:hover {
        background-color: var(--red);
    }
    
    &:active {
        box-shadow: 0 2px var(--accent);
    }
}

