/*promo*/

.promo {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background: url(../images/dist/promo/bg.png), url(../images/dist/promo/promo.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 208px;
    padding-bottom: 185px;

    @media (max-width: 1200px) {
        padding-top: 138px;
        padding-bottom: 106px;
        padding-left: 115px;
    }

    @media (max-width: 992px) {
        padding-top: 100px;
        padding-bottom: 70px;
        padding-left: 0;
    }

    @media (max-width: 768px) {
        padding-top: 184px;
        padding-bottom: 50px;
        padding-left: 50px;
        padding-right: 50px;
    }


    &__logo {
        margin-bottom: 73px;

        @media (max-width: 1200px) {
            margin-bottom: 54px;
        }

        @media (max-width: 992px) {
            margin-bottom: 25px;
        }

        @media (max-width: 768px) {
            display: none;
        }
    }


    &__head {
        padding: 0;
        text-align: left;
        align-content: center;
    }

    &__title {
        font-family: 'Raleway';
        font-weight: 500;
        font-size: 48px;
        line-height: 56px;
        color: #FFFFFF;
        text-transform: uppercase;

        @media (max-width: 1200px) {
            font-size: 36px;
            line-height: 42px;
        }

        @media (max-width: 560px) {
            font-size: 36px;
            line-height: 42px;
        }

        &:after {
            content: "";
            display: block;
            width: 170px;
            height: 1px;
            margin-top: 55px;
            margin-bottom: 42px;
            background-color: #FFFFFF;

            @media (max-width: 1200px) {
                width: 115px;
                margin-top: 42px;
                margin-bottom: 31px;
            }

            @media (max-width: 560px) {
                width: 134px;
                margin-top: 44px;
                margin-bottom: 42px;
            }
        }
    }


    &__subtitle {
        font-family: 'Raleway';
        font-weight: 400;
        font-size: 18px;
        line-height: 21px;
        color: #FFFFFF;
        margin-bottom: 42px;


        @media (max-width: 1200px) {
            font-weight: 400;
            font-size: 14px;
            line-height: 16px;
            margin-bottom: 32px;
        }

        @media (max-width: 560px) {
            margin-bottom: 42px;
        }
    }


    &__btn {
        max-width: 270px;
        width: 100%;
        height: 58px;

        @media (max-width: 1200px) {
            max-width: 183px;
            width: 100%;
            height: 50px;
        }

        @media (max-width: 768px) {
            max-width: 220px;
            width: 100%;
            margin-bottom: 60px;
        }

        @media (max-width: 560px) {
            max-width: 288px;
            width: 100%;
            margin-bottom: 46px;
        }
    }

    &__form {
        height: 450px;

        @media (max-width: 1200px) {
            height: 400px;
        }

        @media (max-width: 768px) {
            height: 381px;
        }
    }
}