/*social*/

.social {
        background: var(--bg-accent);
        padding: 20px 0;
        align-content: center;

        @media (max-width: 1200px) {
                padding: 15px 0;
        }

        @media (max-width: 768px) {
                padding-top: 20px;
                padding-bottom: 27px;
                display: flex;
                align-items: center;
                text-align: center;
        }

        @media (max-width: 560px) {
                padding-top: 30px;
                padding-bottom: 47px;
        }

        &__row {
                justify-content: space-between;
                align-items: center;
        }

        &__head__title {
                font-family: 'Open Sans';
                font-weight: 700;
                font-size: 24px;
                line-height: 33px;
                margin-bottom: 18px;

                @media (max-width: 1200px) {
                        font-weight: 700;
                        font-size: 18px;
                        line-height: 25px;
                        margin-bottom: 13px;
                }

                @media (max-width: 560px) {
                        font-weight: 700;
                        font-size: 18px;
                        line-height: 25px;
                        margin-bottom: 13px;
                }
        }

        &__head__subtitle {
                font-family: 'Raleway';
                font-weight: 400;
                font-size: 18px;
                line-height: 21px;
                color: var(--grey);

                @media (max-width: 1200px) {
                        font-size: 14px;
                        line-height: 16px;
                }

                @media (max-width: 768px) {
                        font-size: 14px;
                        line-height: 16px;
                        margin-bottom: 35px;
                }
        }

        &__items-links {
                display: flex;
                justify-content: space-between;
                align-items: center;
        }

        &__link {
                transition: 0.2s;

                &:hover {
                        -webkit-transform: scale(1.3);
                        -ms-transform: scale(1.3);
                        transform: scale(1.3);
                }
        }

        &__item img {
                max-width: 58px;
                max-height: 58px;

                @media (max-width: 1200px) {
                        max-width: 53px;
                        max-height: 53px;
                }

                @media (max-width: 992px) {
                        max-width: 38px;
                        max-height: 38px;
                }

                @media (max-width: 758px) {
                        max-width: 30px;
                        max-height: 30px;
                }

                @media (max-width: 560px) {
                        max-width: 23px;
                        max-height: 23px;
                }
        }
}